* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

section {
  padding: 15px;
}

.book .info {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.info h3 {
  margin-right: 5px;
}

.book {
  display: flex;
  justify-content: space-between;
}

.books-list {
  border: 3px solid;
}

.books-list .book:nth-child(odd) {
  background-color: rgb(6, 247, 247);
  padding: 5px 0;
}

.books-list .book:nth-child(even) {
  padding: 5px 0;
}

.remove-btn {
  background-color: #fff;
  padding: 6px 12px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  margin-right: 10px;
  align-items: center;
}